/*Selector universal*/
*{
    background-color: black;
    color: whitesmoke;
}
h2{
    color: greenyellow;
}

/* Selector clase*/
.parrafoDistinto{
 border: 1px solid white;
 color: red;
}

/* Selector identificador */
#parrafoUnico{
    background-color: blue;
}